html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100vw;
    height: 100%;
}

#floor-selector {
    position: absolute;
    bottom: 30px;
    right: 20px;
    z-index: 300001;
}

.hidden {
    display: none;
}

.floor-button {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    width: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    background-color: white;
    border: 1px solid #888;
    text-align: center;
    font-weight: bold;
    font-size: 16pt;
    color: black;
    border-radius: 4px;
}

#floor-number {
    height: 33px;
    padding-top: 6px;
    width: 60px;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}